<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <h1>환율 계산</h1>
    <form action="#" method="post">
        송금국가: 미국(USD) <br>
        수취국가:
        <select name="country" onchange="">
            <option>--선택--</option>
            <option value="KRW">한국(KRW)</option>
            <option value="JPY">일본(JPY)</option>
            <option value="PHP">필리핀(PHP)</option>
        </select><br>
        환율: <span></span><br>
        송금액: <input type="text" name="money"> USD <br>
        <input type="submit" value="Submit">
    </form>
    <p>

    </p>
</body>
</html>